
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {

    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    width: 100%;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
    position: fixed;
   background: #001A1F;
    top: 56px;
    outline: 0;
    padding-left: 0px;
    padding-right: 0px;
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: green;
       overflow:hidden;
    -webkit-tap-highlight-color: transparent;
    z-index: 0;
}